/* IMPORTATION GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
/* GLOBAL */
* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/* TITLES */
h1, h4 {
  font-family: 'Shrikhand', sans-serif; }

h1 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

p, a, button {
  text-decoration: none;
  font-size: 15px; }

/* RESPONSIVE BREAKPOINTS*/
/* RESPONSIVE*/
/* DISPLAY */
/* ANIMATION SPINNER (HIDDEN) */
/* ANIMATION SMOKES */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  cursor: none;
  /* ANIMATION */
  animation-name: anim-hidden;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  visibility: hidden; }
@keyframes anim-hidden {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }
.loading-svg {
  width: 200px;
  /* SMOKE ANIMATION */ }
  .loading-svg__body--cup {
    fill: #9656DC; }
  .loading-svg__smoke--left {
    animation-name: smoke-anim-left;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear; }
@keyframes smoke-anim-left {
  0% {
    opacity: 0;
    fill: #9656DC; }
  30% {
    opacity: 1;
    fill: #FF79DA; }
  100% {
    opacity: 0;
    fill: #9656DC; } }
  .loading-svg__smoke--middle {
    animation-name: smoke-anim-middle;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear; }
@keyframes smoke-anim-middle {
  0% {
    opacity: 0;
    fill: #FF79DA; }
  50% {
    opacity: 1;
    fill: #99E2D0; }
  100% {
    opacity: 0;
    fill: #9656DC; } }
  .loading-svg__smoke--right {
    animation-name: smoke-anim-right;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear; }
@keyframes smoke-anim-right {
  0% {
    opacity: 0;
    fill: #FF79DA; }
  70% {
    opacity: 1;
    fill: #9656DC; }
  100% {
    opacity: 0;
    fill: #FF79DA; } }
/* FONDU SLIDE-TOP*/
.slide-top {
  -webkit-animation: slide-top 0.5s linear forwards;
  animation: slide-top 0.5s linear forwards; }

@-webkit-keyframes slide-top {
  from {
    opacity: 0%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-top {
  from {
    opacity: 0%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
.slide-top-delay-1 {
  animation-delay: 0.1s; }

.slide-top-delay-2 {
  animation-delay: 0.4s; }

.slide-top-delay-3 {
  animation-delay: 0.8s; }

.slide-top-delay-4 {
  animation-delay: 1.2s; }

/* SLIDE LEFT */
@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-72px);
    transform: translateX(-72px); } }
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-72px);
    transform: translateX(-72px); } }
/* RETOUR SLIDE LEFT (FLUIDE) */
@-webkit-keyframes slide-default {
  from {
    -webkit-transform: translateX(-72px);
    transform: translateX(-72px); }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes slide-default {
  0% {
    -webkit-transform: translateX(-72px);
    transform: translateX(-72px);
    opacity: 0%; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 100%; } }
/* ROTATION ICON RIGHT */
@-webkit-keyframes icon-rotation {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes icon-rotation {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.btn-primary {
  color: #fff;
  background: linear-gradient(#9656DC, #FF79DA);
  border: none;
  padding: 15px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 20px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 6px 2px rgba(54, 54, 54, 0.5);
  width: 200px; }

.btn-primary:hover {
  opacity: 0.9; }

/* HEART ICON  */
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 39px;
  padding: 0;
  position: relative;
  background-color: transparent; }
  .heart .fa-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 25px; }
  .heart .fa-regular {
    color: #000;
    background-color: transparent;
    z-index: 2; }
  .heart .fa-solid {
    color: #9656DC;
    background: linear-gradient(#9656DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    fill-opacity: 1;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: 4; }
  .heart .fa-solid:hover {
    transition-duration: 0.5s;
    opacity: 1; }

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* HEADER-LINK */ }
  .header__a {
    text-decoration: none;
    color: #000; }
    .header__a:hover {
      color: #9656DC; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #eaeaea;
  color: #313131;
  box-shadow: 0px -3px 4px 0px rgba(38, 38, 38, 0.2); }
  .search__icon {
    padding-right: 15px;
    margin: 0;
    font-weight: 700;
    font-size: 17px; }
  .search__p {
    font-weight: 700;
    margin: 0; }

.banner {
  background-color: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 20px; }
  .banner__h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 20px;
    /* responsive */ }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .banner__h2 {
        text-transform: uppercase; } }
    @media all and (min-width: 992px) {
      .banner__h2 {
        text-transform: uppercase; } }
    .banner__h2 > br {
      /* responsive */ }
      @media all and (min-width: 768px) and (max-width: 992px) {
        .banner__h2 > br {
          display: none; } }
      @media all and (min-width: 992px) {
        .banner__h2 > br {
          display: none; } }
  .banner__p {
    color: #737272; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .banner__p > br {
        display: none; } }

/* FUNCTIONNING */
.functionning {
  width: 100%;
  padding: 0px 15px; }
  .functionning__header {
    text-align: left;
    font-weight: 800;
    font-size: 23px;
    margin: 40px auto 20px auto; }
  .functionning__nav {
    width: 100%;
    margin: 0 auto; }

/* STEPS BAR  */
/* OL */
.steps {
  padding: 0;
  counter-reset: compteurStep;
  /* responsive */ }
  @media all and (min-width: 992px) {
    .steps {
      display: flex;
      gap: 20px; } }
  .steps li {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0 auto; }
  .steps li:before {
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: compteurStep;
    content: counter(compteurStep) " ";
    background: #9356dc;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    color: #fff;
    position: absolute;
    margin-left: -10px; }

/* STEPS BUTTON */
.steps-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px auto;
  border-radius: 20px;
  width: 95%;
  font-weight: 700;
  box-shadow: 1px 2px 20px 0px rgba(255, 255, 255, 0.5); }
  .steps-tag:hover {
    color: #000000;
    box-shadow: 1px 2px 15px 0px rgba(191, 191, 191, 0.3);
    background-color: #f5edff; }
  .steps-tag:hover .steps-tag__icon {
    background-color: #9656DC;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .steps-tag__icon {
    flex: 1;
    color: #626262;
    font-size: 18px; }
  .steps-tag__p {
    flex: 2;
    text-align: left;
    font-size: 14px; }

/* RESTAURANTS */
.restaurants {
  background-color: #f6f6f6;
  margin: 40px auto 0 auto;
  width: 100%;
  padding: 50px 10px; }
  .restaurants__h3 {
    text-align: left;
    width: 100%;
    font-weight: 800;
    font-size: 23px;
    padding-bottom: 20px; }
  .restaurants__group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    /* responsive */ }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .restaurants__group {
        grid-template-columns: repeat(2, 1fr); } }
    @media all and (min-width: 992px) {
      .restaurants__group {
        grid-template-columns: repeat(4, 1fr); } }

/* CARD */
.card {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 33px -9px #aaaaaa;
  transition: transform 0.2s; }
  .card:hover {
    -ms-transform: scale(1 0.25);
    -webkit-transform: scale(1 0.25);
    transform: scale(1.025); }
  .card__image {
    height: 11rem;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0; }
  .card__new {
    color: #008563;
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 15px;
    border-radius: 5px;
    top: 15px;
    right: 15px;
    font-weight: 600; }

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px; }
  .card-info__text {
    flex: 1;
    text-align: left;
    text-decoration: none;
    color: #000; }
    .card-info__text h3 {
      margin: 3px auto;
      padding: 0; }
    .card-info__text p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #313131; }

/* FOOTER */
.footer {
  width: 100%;
  padding: 15px 20px 25px 20px;
  background-color: #353535;
  color: #fff;
  /* responsive */ }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .footer {
      display: flex;
      align-items: center; } }
  @media all and (min-width: 992px) {
    .footer {
      display: flex;
      align-items: center; } }
  .footer__h4 {
    margin: 10px 0;
    font-weight: 400;
    /* responsive */ }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .footer__h4 {
        text-align: center;
        width: 50%; } }
    @media all and (min-width: 992px) {
      .footer__h4 {
        text-align: center;
        width: 25%; } }

/* FOOTER NAV */
.footer-nav {
  /* responsive */ }
  @media all and (min-width: 992px) {
    .footer-nav {
      display: flex;
      justify-content: flex-end;
      gap: 20px; } }
  .footer-nav__a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px 0;
    /* responsive */ }
    @media all and (min-width: 992px) {
      .footer-nav__a {
        margin-right: 15px; } }
    .footer-nav__a:hover {
      color: #FF79DA; }
  .footer-nav__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    /* responsive */ }
    @media all and (min-width: 992px) {
      .footer-nav__icon {
        margin-right: 5px; } }

/* BANNER - IMAGE */
.restaurant-image {
  width: 100%;
  height: 75vh;
  object-fit: cover; }

/* MAIN-RESTAURANT */
.main-restaurant {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  width: 100%;
  padding: 10px 10px 50px 10px;
  margin: -50px auto 0 auto;
  position: relative;
  text-align: center; }

/* HEADER-MENU */
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  /* responsive */ }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .header-menu {
      display: block; } }
  @media all and (min-width: 992px) {
    .header-menu {
      display: block; } }
  .header-menu__h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
    font-size: 27px; }

.product {
  /* responsive */ }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .product {
      width: 90%; } }
  @media all and (min-width: 992px) {
    .product {
      width: 33%; } }

/* TITRE */
.product h3 {
  position: relative;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 10px;
  margin-top: 35px;
  text-align: left; }
  .product h3:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    background-color: #99E2D0;
    bottom: 0;
    left: 0; }

/* DETAILS PRODUCT*/
.detail-product {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  box-shadow: 0.20rem 0.20rem 1.2rem #00000043;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  max-width: 600px;
  text-align: left;
  opacity: 0%;
  transition: 0.5s;
  /* responsive */ }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .detail-product {
      width: 70%; } }
  @media all and (min-width: 992px) {
    .detail-product {
      width: auto; } }

.header-detail-product h4 {
  font-weight: bold; }

.header-detail-product, .header-detail-product p, .header-detail-product h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  padding: 5px;
  font-family: 'Roboto', sans-serif; }

/* PRICE */
.price-detail-product {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
  font-weight: bold; }

/* EFFET PRODUIT ICON */
.effect-detail-product {
  position: absolute;
  background-color: #99E2D0;
  width: 70px;
  height: 100px;
  margin-top: -12px;
  margin-left: 99%;
  display: flex;
  align-items: center;
  animation-duration: 0.6s;
  animation: slide-default 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: hidden;
  transition-duration: 0.6s; }

.detail-product:hover {
  transition-property: padding-right;
  padding-right: 80px; }
  .detail-product:hover:hover .effect-detail-product {
    visibility: visible;
    -webkit-animation: slide-left 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.9) both;
    animation: slide-left 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.94) both; }

.detail-product:hover .div-effect-icon {
  animation: icon-rotation;
  animation-duration: 0.5s; }

.div-effect-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 100px;
  animation-duration: 0.5s; }
  .div-effect-icon .fa-check {
    color: #99E2D0; }

.container-product {
  /* responsive */ }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .container-product {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media all and (min-width: 992px) {
    .container-product {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px; } }

/*# sourceMappingURL=style.css.map */
