/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;


    /* HEADER-LINK */
    &__a {
        text-decoration: none;
        color: black;

        &:hover {
            color: $primaryColor;
        }
    }
}

