/* FUNCTIONNING */
.functionning {
    width: 100%;
    padding: 0px 15px;

    &__header {
        text-align: left;
        font-weight: 800;
        font-size: 23px;
        margin: 30px auto 20px auto;
    }

    &__nav {
        width: 100%;
        margin: 0 auto;
    }
}


/* STEPS BAR  */
/* OL */
.steps {
    padding: 0;
    counter-reset: compteurStep;

        /* responsive */
        @include l-screen {display: flex; gap: 20px; }

    & li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }

    & li:before {
        counter-increment: compteurStep;
        content: counter(compteurStep) " ";
        background: #9356dc;
        height: 25px;
        width: 25px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        margin-left: -10px;
    }
}

/* STEPS BUTTON */
.steps-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
    width: 100%;
    font-weight: 700;
    box-shadow: 1px 2px 20px 0px rgba(255, 255, 255, 0.5);

    &:hover {
        color: #000000;
        box-shadow: 1px 2px 15px 0px rgba(191, 191, 191, 0.3);
        background-color: #f5edff;
    }

    &:hover .steps-btn__icon {
        background-color: #9356dc;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__icon {
        flex: 1;
        color: #626262;
        font-size: 18px;
    }

    &__p {
        flex: 2;
        text-align: left;
        font-size: 15px;
    }
}