/* RESPONSIVE*/
@mixin m-screen {
    @media all and (min-width: map-get($breakpoints, medium-screen)) and (max-width: map-get($breakpoints, large-screen))  {
        @content;
    }
}

@mixin l-screen {
    @media all and (min-width: map-get($breakpoints, large-screen))  {
        @content;
    }
}


@mixin flexColumnCenterAllWidth() {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}