/* HEART ICON  */
.heart {
    @include flexCenterCenter();
    height: 39px;
    width: 39px;
    padding: 0;

    position: relative;
    background-color: transparent;

    & .fa-heart {
    @include flexCenterCenter();
    position: absolute;
    font-size: 25px;
    }

    & .fa-regular {
    color: $blackColor;
    background-color: transparent;
    z-index: 2;
    }

    & .fa-solid {
    color: $primaryColor;
    background: linear-gradient($primaryColor, $secondaryColor);
    background-clip: text;
    -webkit-background-clip: text;
    fill-opacity: 1;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: 4;
    }

    & .fa-solid:hover {
        transition-duration: 0.5s;
        opacity: 1;
    }
}