.search {
    @include flexCenterCenter();
    width: 100%;
    padding: 15px;
    background-color: #eaeaea;
    color: #313131;
    box-shadow: 0px -3px 4px 0px rgba(38,38,38,0.20);

    &__icon {
        padding-right: 15px;
        margin: 0;
        font-weight: 700;
        font-size: 17px;
    }

    &__p {
        font-weight: 700;
        margin: 0;
    }
}