.banner {
    background-color: #f6f6f6;

    text-align: center;
    width: 100%;

    padding: 20px;

    &__h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        padding: 20px;

            /* responsive */
            @include m-screen {text-transform: uppercase;}
            @include l-screen {text-transform: uppercase;}

        & > br {
            /* responsive */
            @include m-screen {display: none;}
            @include l-screen {display: none;}
        }
    }

    &__p {
        color: #737272;

        & > br {
            @include m-screen {
                display: none;
            }
        }
    }
}
