.loading {
    @include flexCenterCenter();
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 5;

    cursor: none;

    /* ANIMATION */
    @include spinner;     
}

.loading-svg{
    width: 200px;

    &__body--cup {
        fill: $primaryColor;
    }

    /* SMOKE ANIMATION */ 
    &__smoke--left {
        animation-name: smoke-anim-left;
        @include smoke-anim-commun();
        @keyframes smoke-anim-left {
            0% {
                opacity: 0;
                fill: $primaryColor;
            }
            30% {
                opacity: 1;
                fill: $secondaryColor;
            }
            100% {
                opacity: 0;
                fill: $primaryColor;
            }
        }
    } 

    &__smoke--middle {
        animation-name: smoke-anim-middle;
        @include smoke-anim-commun();
        @keyframes smoke-anim-middle {
            0% {
                opacity: 0;
                fill: $secondaryColor;
            }
            50% {
                opacity: 1;
                fill: $thirdColor;
            }
            100% {
                opacity: 0;
                fill: $primaryColor;
            }
        }
    }       
    
    &__smoke--right {
        animation-name: smoke-anim-right;
        @include smoke-anim-commun();
        @keyframes smoke-anim-right {
            0% {
                opacity: 0;
                fill: $secondaryColor;
            }
            70% {
                opacity: 1;
                fill: $primaryColor;
            }
            100% {
                opacity: 0;
                fill: $secondaryColor;
            }
        }
    }       
}




